@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* responsive menu */
@media screen and (max-width: 650px) {
  .grid-none-sm {
    grid-template-columns: none;
  }
  .flex-col {
    flex-direction: column;
  }
  .primary-navigation {
    margin-left: 0px;
  }
  .nav-list {
    margin-top: .5rem;
    text-align: center;
  }
  .hamburger {
    display: block;
    right: 1rem;
    top: 0;
  }
  .nav-container .primary-navigation {
    display: none;
  }
  
  /* check if clicked on hamburger */
  #checkbox_toggle:checked ~ .nav-container .primary-navigation {
    display: block;
  }


}